<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/" title="Ir al Inicio">
              <img src="/img/logo.png" alt="Jota Schneider Tienda">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <%
              navigator.forEach(e => {
              %>
              <li class="nav-item">
                <a class="nav-link <%= e.class %>" href="<%= e.href %>" target="<%= e.target %>" title="Ir a <%= e.name %>"><%= e.name %></a>
              </li>
              <% 
              });
              %>
            </ul>
          </div>
        </div>
      </nav>
</header>